{% extends 'navbar.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
{% block content %}

<section id="main">

    <div class="container-fluid">
        <div class="logo">
            <img src="{% static 'images/Capture.png' %}" alt="project-logo">
        </div>
        
        <div class="urlbar">
            <form class="g-3" action="{% url 'redirector:redirectcreate' %}" method="POST">   
                {% csrf_token %}
                {% for message in messages %}

                    <div style="color: green;">{{message}}</div>

                {% endfor %}
                <div class="row">
                    <div class="col-auto">
                        <label for="urlinput" class="visually-hidden">URL</label>
                        <input type="text" class="form-control" name="url" id="urlinput" placeholder="URL (required)">
                    </div>
                 
                    <div class="col-auto">
                        <button type="submit" class="btn btn-light mb-3">Minify</button>
                    </div>
                </div>
                <div class="row justify-content-md-center" >
                    <div class="col-md-9 col-8" style="margin: auto;">
                        <label for="name" class="visually-hidden">custname</label>
                        <input type="text" class="form-control" name="cust" id="name" placeholder="custom (optional)">
                    </div>
                </div> 
            </form>            

        </div>       
        
    </div>

    <div class="starhr">
        <img src="{% static 'images/starhr.JPG' %}" height="10%" width="20%" alt="divider">
    </div>


</section>

<section id="urllist">
    <div class="container">

        <h2 class="text-uppercase text-center text-secondary">URLS</h2>

        <div class="starhrblack">
            <img src="{% static 'images/starhrblack.JPG' %}" height="10%" width="20%" alt="divider">            
        </div>
        
        {% if user.is_authenticated %}
        <div class="container"> 
            {% for url in data.urls %}                                    
                <div class="card" style="margin: 20px 0; border: solid#18bc9c">                    
                    <div class="card-body">
                        <p>Original Link : <a href="{% url 'redirector:urlredirect' urlto=url.urlhash %}" target="_blank">{{url.url}}</a></p>
                        <p>Redirected Link : <a href="{% url 'redirector:urlredirect' urlto=url.urlhash %}" target="_blank">{{data.domain}}/{{url.urlhash}}</a></p>
                    </div>
                </div>
            {% endfor %}            
        </div>
        {% endif %}
        
        <div class="starhrblack" style="padding-top: 6%;">
            <img src="{% static 'images/starhrblack.JPG' %}" height="10%" width="20%" alt="divider">            
        </div>
    </div>
</section>


{% endblock %}
</body>
</html>